
body {
  background: #000;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}


.car-section {
  padding: 80px 20px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('/images/showroom2.jpg');
  color: #fff;
}

.car-section h2 {
  font-size: 2.0rem;;
  margin-bottom: 2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  background: linear-gradient(90deg, #ffffff, #0e0d0e, #ffffff);
  background-size: 200% auto;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  animation: shimmer 2.5s linear infinite;
  filter: drop-shadow(0 0 5px #2adbbd80);
}

@keyframes shimmer {
  0% {
    background-position: 200% center;
  }
  100% {
    background-position: -200% center;
  }
}

.car-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.carousel-section {
  margin: 0px 0;
  text-align: center;
  color: #aea4a4;
}
.carousel-section h2 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  background: linear-gradient(90deg, #ffffff, #2adbbd80, #ffffff);
  background-size: 200% auto;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  animation: shimmer 2.5s linear infinite;
  filter: drop-shadow(0 0 5px rgba(42, 219, 189, 0.5));
}

@keyframes shimmer {
  0% {
    background-position: 200% center;
  }
  100% {
    background-position: -200% center;
  }
}


.garage-section {
  padding: 0px;
  background: #101010;
  color: #fff;
  text-align: center;
}

.garage-section h2 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  background: linear-gradient(90deg, #ffffff, #2adbbd80, #ffffff);
  background-size: 200% auto;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  animation: shimmer 2.5s linear infinite;
  filter: drop-shadow(0 0 5px rgba(42, 219, 189, 0.5));
}
@keyframes shimmer {
  0% {
    background-position: 200% center;
  }
  100% {
    background-position: -200% center;
  }
}


.showroom3d-section {
  margin-top: 0px;
  padding: 0px;
  background: #000;
}

.lazy-fallback {
  text-align: center;
  font-size: 1.1rem;
  padding: 2rem;
  color: #999;
}



@media screen and (max-width: 767px) {
  .car-section {
   background-image: url('/images/showroom2.jpg'); 
  }
}

@media (max-width: 768px) {
  .garage-section h2 {
    font-size: 1.4rem;
  }
  .car-section h2 {
    font-size: 1.4rem;
  }
  .carousel-section h2 {
    font-size: 1.4rem;
  }
}

