.video-showcase-wrapper {
  position: relative;
  padding: 40px;
  color: #f0f0f0;
  text-align: center;
  overflow: hidden;
  background-image: url('/images/video-bg.png'); 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  transition: background-position 0.1s ease-out;
}

.video-showcase-wrapper h2 {
  font-size: 36px;
  margin-bottom: 20px;
  color: #ff3c00;
  text-shadow: 0 0 5px rgba(255, 60, 0, 0.6);
  margin-bottom: 1rem;
}

.car-select-video {
  padding: 10px 16px;
  font-size: 16px;
  background-color: #1c1c1c;
  color: #fff;
  border: 1px solid #444;
  border-radius: 8px;
  outline: none;
  margin-bottom: 20px;
  cursor: pointer;
}

.car-select-video option {
  background-color: #1c1c1c;
}

.car-select-video:hover {
  border-color: #c35d37;
}

.video-player {
  margin-top: 30px;
}

.video-player video {
  width: 100%;
  max-width: 1300px;
  border-radius: 12px;
  border: 2px solid #e0560c;
  box-shadow: 0 0 20px rgba(210, 52, 4, 0.3);
}

.video-player p {
  font-size: 18px;
  color: #aaa;
  margin-top: 20px;
}

@media screen and (max-width: 768px) {
  .video-showcase-wrapper {
    padding: 20px;
  }

  .video-showcase-wrapper h2 {
    font-size: 28px;
    margin-bottom: 2rem;
  }

  .car-select-video {
    width: 100%;
    font-size: 14px;
    padding: 8px;
  }

  .car-select-video:hover {
  border-color: #c35d37;
}

  .video-player video {
    width: 100%;
    max-width: none;
    border-radius: 8px; 
    border: 1px solid #9b4434;
    box-shadow: 0 0 15px rgba(255, 60, 0, 0.2);
    
  }

  .video-player p {
    font-size: 16px;
  }
  
}