body, html {
  overflow-x: hidden;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background: transparent;
  border-bottom: #2adbbd80 3px solid;
  z-index: 1000;
  transition: background 0.4s ease-in-out;
}


.navbar-logo {
  font-size: 1.5rem;
  font-weight: bold;
  background: linear-gradient(90deg, #2adbbd80, #000000, #02447e);
  background-size: 300% 300%;
  animation: borderGlow 3s linear infinite;
}


.mobile-hamburger {
  display: none;
  font-size: 2rem;
  cursor: pointer;
  z-index: 1001;
}


.navbar-links {
  list-style: none;
  display: flex;
  gap: 30px;
  align-items: center;
  transition: all 0.3s ease;
}

.navbar-links li {
  position: relative;
}

.navbar-links li a,
.dropdown-toggle {
  text-decoration: none;
  position: relative;
  font-weight: 500;
  cursor: pointer;
  color: inherit;
}

.navbar-links li a::after{
   content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0%;
  background: #2adbbd80;
  height: 2px;
  transition: 0.3s ease;
}
.dropdown-toggle::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0%;
  height: 2px;
  transition: 0.3s ease;
}

.navbar-links li a:hover::after,
.dropdown-toggle:hover::after {
  width: 100%;
}


.hamburger-dropdown .hamburger-icon {
  font-size: 1.5rem;
  cursor: pointer;
  padding: 5px;
}

.dropdown-menu {
  position: absolute;
  top: 40px;
  right: 0;
  background: rgb(160, 155, 155);
  padding: 10px 0;
  min-width: 180px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  z-index: 999;
}

.dropdown-menu li {
  padding: 10px 20px;
  list-style: none;
}

.dropdown-menu li a {
  color: #000;
  font-weight: 500;
  text-decoration: none;
}

.dropdown-menu li a:hover {
  background-color: #f0f0f0;
  color: #105e5180;
  border-radius: 4px;
}


@media (max-width: 768px) {
  .mobile-hamburger {
   display: block;
  }

  .navbar-links {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100vw;
    background-color: #fff;
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    transform: translateY(-200%);
    opacity: 0;
    visibility: hidden;
    padding: 15px 20px;
    border-top: 1px solid #eee;
    z-index: 999;
  }

  .navbar-links.open {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
  }

  .navbar-links li {
    width: 100%;
    padding: 10px 0;
  }

  .navbar-links li a {
    width: 100%;
    font-size: 1rem;
    padding: 8px 0;
    display: block;
    color: #000 !important;
  }

  .dropdown-menu {
    position: static;
    background: #fff;
    box-shadow: none;
    left: 0;
    width: 100%;
    padding: 0;
    margin-top: -55px; 
  }

  .dropdown-menu li {
    padding: 8px 0;
  }

  .dropdown-menu li a {
    color: #000;
    padding-left: 10px;
     display: block;
  }
   .hamburger-dropdown {
    margin: 0;
    width: 100%;
  }
}
